:root{
    --h1-font-weight:800;
    --btn-hover:orange;
    --text-color-white:white;
    --text-color-black:black;

}


*, html{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    

}
body,
html{
    height: 100%;
    width: 100%;
}

body {
    overflow: hidden;
    position: relative;
    color: var(--text-color-white);
}

body::before {
    content: "";
    background-image: url('/bg.png');
    background-size: cover;
    /* background-position: center; */
    /* background-repeat: no-repeat; */
    /* opacity: 0.5; */
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
}
main{
    padding-top: 15%;
}


.intro{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.avatar {
    border-radius: 9999px;
    width: 50%;
    height: auto;
    margin: auto 20%;
    /* margin-top: 20%; */
    /* margin-bottom: 30px; */
    /* box-shadow: -150px -20px 180px white ; */
    box-shadow: -10px -10px 50px var(--text-color-white);
}
h1{
    font-size: 2rem;
    font-weight: var(--h1-font-weight);
    text-align: center;
}
p{
    font-size: 1.5rem;
    text-align: center;

}
.btn{
    color: var(--text-color-white); 
 }
#jokes{
    color: var(--text-color-white);
    box-shadow: 2px 4px 4px 5px rgb(245 137 11);
    /* box-shadow: -10px -10px 50px var(--text-color); */
    font-weight: 600;

}
.dropdown-item{
    color: var(--text-color-black);
}