:root {
  --h1-font-weight: 800;
  --btn-hover: orange;
  --text-color-white: white;
  --text-color-black: black;
}

*,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
}
body,
html {
  height: 100%;
  width: 100%;
}

body {
  /* overflow: hidden; */
  position: relative;
  color: var(--text-color-white);
  background-image: url("/assets/images/bg.png");
  background-size: cover;
  background-position: center;
  /* background-repeat: no-repeat; */
}
main {
  padding: 8%;
}

.intro {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.avatar {
  border-radius: 9999px;
  width: 300px;
  height: auto;
  margin-bottom: 10%;
  box-shadow: -10px -10px 50px var(--text-color-white);
}
h1 {
  font-size: 2rem;
  font-weight: var(--h1-font-weight);
  text-align: center;
}
p {
  font-size: 1.5rem;
  text-align: center;
}
h1,
p,
.portfolio,
#jokes {
  text-shadow: 1px 1px rgb(44 43 43);
}
.btn {
  color: var(--text-color-white);
}
#dropdownMenuButton1 {
  font-weight: 600;
  color: var(--text-color-white);
}
.dropdown {
  display: flex;
  justify-content: center;
}
.btn:hover,
.inline:hover,
#another:hover,
#close:hover,
#dropdownMenuButton1:hover {
  color: var(--btn-hover);
}

#another,
#close {
  /* color: rgb(34, 151, 210); */
  color: cyan;
  font-weight: 600;
}
#jokes,
.portfolio,
.dropdown {
  color: var(--text-color-white);
  box-shadow: -3px -2px 0px 4px rgb(151, 89, 8);
  /* box-shadow: -10px -10px 50px var(--text-color); */
  font-weight: 600;
  padding: 10px;
  margin: 10px auto;
  border-radius: 10px;
}
.dropdown-item {
  color: var(--text-color-black);
}
.btn-container {
  display: flex;
  flex-direction: column;
}

@media (min-width: 768px) {
  main {
    padding-top: 15%;
    margin: auto;
  }
}
@media (min-width: 1024px) {
  main {
    padding-top: 10%;
    margin: auto;
  }
  .intro {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
  }
  h1 {
    font-size: 2.5rem;
    font-weight: var(--h1-font-weight);
    text-align: center;
  }
  p {
    font-size: 1.8rem;
    text-align: center;
  }
  #another,
  #close {
    color: cyan;
    font-weight: 600;
    font-size: 1.5rem;
  }
  #jokes,
  .portfolio,
  .dropdown {
    color: var(--text-color-white);
    box-shadow: -3px -2px 0px 4px rgb(151, 89, 8);
    font-weight: 600;
    padding: 10px;
    margin: 10px auto;
    border-radius: 10px;
    font-size: 1.5rem;
  }
  #dropdownMenuButton1 {
    font-weight: 600;
    font-size: 1.5rem;
    color: var(--text-color-white);
  }
}
@media (min-width: 1400px) {
  main {
    max-width: 1200px;
    margin: 5% auto;
  }
}
@keyframes growButton {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.2);
  }
}
#jokes,
.portfolio {
  cursor: pointer;
  transition: all 0.3s ease;
}

#jokes:hover,
.portfolio:hover,
.dropdown:hover {
  animation: growButton 0.3s ease forwards;
}
